<!DOCTYPE html>

<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <meta name="author" content="Cliff Blakestad">
        {% block head %}{% endblock %}
        <title>{% block title %} Template Title {% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
    <body>



        



        <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Cliff Blakestad</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/math">Math</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/data-science">Data Science</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Projects
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/projects/recommend">Paper Recommender</a></li>
                      <li><a class="dropdown-item" href="/projects/subject-identifier">Subject Identifier</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <ul class="navbar-nav">
                <li class="'nav-item">
                  <a class="nav-link" href="https://www.linkedin.com/in/cliff-blakestad/">
                    <img src="/static/icons/In-White-26.png" alt="LinkedIn" title="LinkedIn">
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://github.com/blakestad">
                    <img src="/static/icons/github-mark-white.svg" alt="GitHub" title="GitHub" width="26">
                  </a>
                </li>
              </ul>
            </div>
          </nav>

          



        {% block header %}
        {% endblock %}

        <main>

        
        {% block body %}
        <div class="container">
            Template Body
        </div>
        {% endblock %}
        

    </main>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    </body>
</html>