{% extends "base.html" %}

{% block title%}
Home
{% endblock %}

{% block body%}


<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Data Scientist, Mathematician</h1>
        <p class="lead">I am a PhD mathematician who has transitioned into data science work. This website is to put all of my work together into one place.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/data_science" type="button" class="btn btn-lg btn-primary px-4">Data Science</a>
            <a href="/math" type="button" class="btn btn-lg btn-primary px-4 me-md-2">Math</a>  
        </div>
      </div>
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/static/images/headshot.jpg" class="d-block mx-lg-auto shadow-lg img-fluid" alt="Headshot"  height="500" loading="lazy">
      </div>
    </div>
  </div>











{% endblock%}